$color-main: #333;
$white: #fff;
$white015: rgba(255, 255, 255, 0.85);
$black: #000;
$gray66: #666;
$gray99: #999;
$gray96: #969696;
$grayCA: #CACACA;
$whiteEC: #ECECEC;
$whiteE5: #E5E5E5;
$light-purple: #C283F3;
$purple: #9D5CD0;
$purple88: #885BC7;
$purple79: #7943A4;
$purpleD1: #D1A9F0;