@import "colors";

.editions {
  padding: 80px 80px 67px 80px;
  color: $white;
  background: url("../img/editions/back.jpg") center no-repeat;
  background-size: cover;

  @media (max-width: 1200px) {
    padding: 78px 0;
  }

  @media (max-width: 768px) {
    padding: 85px 0 46px 0;
  }

  @media (max-width: 576px) {
    padding: 50px 0 40px 0;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }



  &__subtitle {
    font-size: 16px;
    line-height: 32px;
  }

  &__category-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 576px) {
      border-width: 1px 0 1px 0;
    }
  }

  &__arrow {
    @media (min-width: 577px) {
      display: none;
    }
  }

  &__arrow.is-rotate {
    transform: rotate(180deg);
  }


  &__category-btn,
  &__label {
    @media (max-width: 576px) {
      padding: 2px 0;
      border-color: rgba(255, 255, 255, 0.5);
      border-style: solid;
    }
  }


  &__column:nth-child(2) {
    min-width: 0;
    padding-top: 97px;
    flex-basis: 72.5%;
    overflow: hidden;

    @media (max-width: 1200px) {
      flex-basis: 69.1%;
    }

    @media (max-width: 768px) {
      padding: 97px 27px 6px 17px;
    }

    @media (max-width: 576px) {
      padding: 36px 0 0 0;
    }
  }

  &__column:first-child {
    flex-basis: 17.4%;

    @media (max-width: 1200px) {
      flex-basis: 30%;
    }

    @media (max-width: 768px) {
      margin-bottom: 13px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-bottom: 27px;
    }

    @media (max-width: 320px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(4, 32px);
    }

    @media (max-width: 576px) {
      grid-auto-flow: row;
      grid-auto-rows: 38px;
      grid-template-rows: none;
    }
  }

  &__label {
    position: relative;
    top: 2px;
    transition: color 0.3s ease-in-out;

    &::before {
      transition: border-color 0.3s ease-in-out;
    }

    @media (min-width: 1024px) {
      &:hover {
        color: $light-purple;

        &::before {
          border-color: $light-purple;
        }
      }
    }

    &:active {
      color: $purple79;

      &::before {
        border-color: $purple79;
      }
    }

    @media (max-width: 576px) {
      border-width: 0 0 1px 0;
    }
  }

  &__label:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 12px;
    border: 1px solid #999999;
  }

  &__label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 14px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: $light-purple;
    opacity: 0;

    @media (max-width: 576px) {
      top: 16px;
    }
  }

  input[type='checkbox']:checked + &__label::after {
    opacity: 1;
  }

  input[type='checkbox']:focus + label {
    outline: 2px solid $purple79;
  }

  input[type='checkbox']:focus:not(.focus-visible) + label {
    outline: none;
  }

  input[type='checkbox']:checked + &__label::before {
    border-color: $light-purple;
  }

  input[type='checkbox']:checked + label {
    color: $light-purple;

    @media (max-width: 576px) {
      background: url("../img/editions/close.svg") center right no-repeat;
    }
  }

  &__title {
    margin-bottom: 18px;
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }

    @media (max-width: 320px) {
      margin-bottom: 13px;
    }
  }

  &__prices {
    &-subtitle {
      margin-bottom: 6px;
    }

    &-label {
      padding-left: 6px;
    }
  }

  &__plate {
    min-width: 278px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    
    @media (max-width: 768px) {
      max-width: 277px;
    }
  }

  &__input {
    margin-left: 8px;
    padding-left: 10px;
    max-width: 73px;
    height: 38px;
    background: rgba(157, 92, 208, 0.5);
    border: 0;
  }

  &__input,
  ::placeholder {
    font-size: 16px;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    color: $white;
  }

  &__img {
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__props {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    &-name {
      display: flex;
      flex-direction: column;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @media (max-width: 576px) {
        line-height: 16px;

      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      font-size: 12px;
      line-height: 16px;
    }

    &-value {
      margin-top: -5px;

      @media (max-width: 576px) {
        line-height: 24px;
      }
    }
  }

  &__btn {
    position: relative;
    padding: 8px 20px;
    border: 2px solid $purple;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    transition: background-color 0.3s ease-in-out;
    outline: 0;

    @media (max-width: 576px) {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;

  &:focus {
    outline: 1px solid $white;
  }
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.js-hidden {
  @media (max-width: 576px) {
    display: none;
  }
}

input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  outline: 0;
}

.swiper-editions {
  position: relative;
  padding-bottom: 10px;
  padding-left: 10px;

  @media (max-width: 576px) {
    height: auto;
    padding-left: 0;
  }

  @media (max-width: 320px) {
    padding-bottom: 13px;
  }
}

.swiper-wrapper--editions {
  position: relative;
  flex-direction: row;

  @media (max-width: 576px) {
    flex-wrap: wrap;
  }

  .swiper-slide {
    @media (max-width: 576px) {
      width: calc((100% - 30px) / 2);

    }

    &:not(:last-child) {
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }

    &:nth-child(odd) {
      @media (max-width: 576px) {
        margin-right: 30px;
      }
    }
  }
}

.swiper-buttons--editions {
  position: absolute;
  top: -60px;
  left: 10px;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    margin-left: -28px;
  }

  @media (max-width: 576px) {
    display: none;
  }
}




